extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaInicio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
  ul#nav.main
    li
     a.active(href='/Ayuda')
      |Ayuda
      i.icon-question-sign.icon-large

block content
  .wrapper
          form
            fieldset
                legend Example form legend
                .clearfix
                  label(for='xlInput') X-Large input
                  .input
                    input#xlInput.xlarge(name='xlInput', size='30', type='text')


           a.btn.btn-primary.btn-large(href='#ingresaEmpleado', data-toggle='modal')
             | Ingresar


block sigucaJS

  script(src='/js/jquery.min.js')
  script(src='/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-modal.js')
