extend layout

block sigucaCSS
	link(rel='stylesheet', href='/stylesheets/sigucaRoles.css')
	
block content
	h1 Autorización de Tiempo Extraordinario
	form.form-horizontal(action="autoriza_extra" method="post")
		div.control-group
			label.control-label(for="Código")
				|Empleado
			div.controls
				input(type="text" name="Empleado" placeholder="123456789")	
		div.control-group
			label.control-label(for="Fecha")
				|Fecha
			div.controls
				input(type="text" name="Fecha" placeholder="20-10-2013")
		div.control-group
			label.control-label(for="Tiempo")
				|Tiempo Solicitado
			div.controls
				input(type="text" name="Tiempo" placeholder="3 Horas")
		div.control-group
			label.control-label(for="TiempoA")
				|Tiempo a Autorizar
			div.controls
				input(type="text" name="TiempoA" placeholder="2 Horas")		
		button.btn.btn-primary(type="submit" value="roles")
			|Rechazar
		button.btn.btn-primary(type="submit" value="roles")
			|Autorizar	