extend layout

block sigucaCSS
	link(rel='stylesheet', href='/stylesheets/sigucaRoles.css')
	
block gcsNavbarItems
  ul.nav.navbar-nav
block content
	h1 Autorización de Justificación Ausencia/Tardía
	form.form-horizontal(role= "form",action="autorizaJustificacion" method="post")
		div.control-group
			label.control-label(for = "codigo")
				|Empleado
			div.controls
				input(type = "text", name="empleado", placeholder="123456789")
		div.control-group
			label.control-label(for="Fecha")
				|Fecha que cometio la Falta
			div.controls
				input(type="date", name="Fecha", placeholder="20-10-2013")
		div.control-group
			label.control-label(for="Motivo")
				|Motivo de la Falta
			div.controls
				input(type="text", name="Motivo", placeholder="Accidente de Tránsito")
		div.control-group
			label.control-label(for="TiempoA")
				|Tipo de Falta
			div.controls
				input(type="text", name="TiempoA", placeholder="Tardia")		
		button.btn.btn-primary(type="submit" value="roles")
			|Injustificada
		button.btn.btn-primary(type="submit" value="roles")
			|Justificada	