extends layout

block sigucaCSS
    link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
    link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
block imgSession
  

block gcsNavbarItems
  ul.nav.navbar-nav
block content
  
    .container
    	h1 Autorización de Tiempo Extraordinario
    	form(role='form', method="POST", action = "/autorizaExtra")
			div.control-group
				label.control-label(for = 'codigoTarjeta')
					|Empleado
				div.controls
					input(type = 'Number', name = 'codigoTarjeta', placeholder="123456789")	
			div.control-group
				label.control-label(for = 'fecha')
					|Fecha
				div.controls
					input(type = 'date', name = 'fecha', placeholder = '20-10-2013')
			div.control-group
				label.control-label(for = 'tiempo')
					|Tiempo Solicitado
				div.controls
					input(type = 'Number', name = 'tiempo', placeholder = 'Tiempo a Solicitado')
			div.control-group
				label.control-label(for = 'TiempoA')
					|Tiempo a Autorizar
				div.controls
					input(type = 'Number', name='TiempoA', placeholder = 'Tiempo a Autorizar')		
			button.btn.btn-primary(type = 'submit' value='rechazar') |Rechazar
			button.btn.btn-primary(type = 'submit', value = 'autorizar') |Autorizar	
