extends layoutEmpl
 
block content
  .container
    br
    .col-xs-8
        
        h2 Acerca de SIGUCA
          img(alt='something', src='images/siguca.png',  href="#")#sigucaLogo
        br
        p SIGUCA es un sistema de gestión de usuarios y control de asistencia.
        p Un sistema integrado de bajo costo y novedoso que provee un control de la jornada de los colaboradores en las empresas.
        p Diseñado y desarrollado por estudiantes de la Universidad Nacional como proyecto de ingeniería en sistemas de información para la empresa GreenCore Solutions.
        
        h2 GreenCore Solutions
          img(src='images/greencore.png', alt='something',  href="#")#sigucaLogo
        br
        p GreenCore Solutions, es una empresa costarricense fundada en el año 2005.
        p Su misión es el de brindar tecnologías basadas en GNU/Linux a un nivel corporativo de manera profesional mediante el respaldo y calidad de sus productos y servicios.
    .col-xs-4
