extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
  hr
  ul#nav.main
    li
     a(href='/escritorio')
       |Escritorio&nbsp;
       i.icon-home.icon-large  
    li
     a(href="/graficos")
       |Gr치ficos&nbsp;
       i.icon-bar-chart.icon-large
    li
     a(href="/justificaciones")
       |Justificaciones&nbsp;
       i.icon-edit.icon-large
    li
     a(href="/configuracion")
       |Configuraci칩n&nbsp;
       i.icon-cogs.icon-large
    li
     a.active(href="/ayuda")
        |Ayuda&nbsp;
        i.icon-question-sign.icon-large 
block content
  div.row
  div.col-sm-4
    |Ayuda
    div.align=justify
      p SIGUCA, Sistema de Gesti칩n de Usuarios y Control de Asistencia, es un programa para le gesti칩n de la jornada laboral de los empleados de GreenCore Solutions SRL, con el fin de tener un Control preciso del uso del tiempo de cada colaborador.
  div.col-sm-8
    #flipClock
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
