extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
  ul.nav.navbar-nav
    li 
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href="/graficos")
        i.icon-bar-chart.icon-large
        |&nbsp;Gr치ficos
    li
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuraci칩n
    li.active
      a(href="/ayuda")
        i.icon-question-sign.icon-large  
        |&nbsp;Ayuda

block content
  div.row
  div.col-sm-4
    h1 Ayuda
    div.align=justify
      h2 SIGUCA: Sistema de Gesti칩n de Usuarios y Control de Asistencia
      p Es un programa para le gesti칩n de la jornada laboral de los empleados de GreenCore Solutions SRL, con el fin de tener un Control preciso del uso del tiempo de cada colaborador.
  div.col-sm-8
    #flipClock
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
