extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/marito.jpg', alt='something') 
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='/') Cerrar Sesión
   
block content
  .container
    .col-xs-12
        img(alt='something', src='images/logo-siguca.png',  href="#")#sigucaLogo
        h1 Acerca de SIGUCA
        br
        br
        p SIGUCA es un sistema de gestión de usuarios y control de asistencia.
        p Un sistema integrado de bajo costo y novedoso que provee un control de la jornada de los colaboradores en las empresas.
        p Diseñado y desarrollado por estudiantes de la Universidad Nacional como proyecto de ingeniería en sistemas de información para la empresa GreenCore Solutions.
        img(src='images/logo-greencore.png', alt='something',  href="#")#sigucaLogo
        h2 GreenCore Solutions
        br
        p GreenCore Solutions, es una empresa costarricense fundada en el año 2005 con la misión de llevar tecnologías basadas en GNU/Linux a un nivel corporativo de manera profesional mediante el respaldo y calidad de nuestros productos y servicios.
        h2 El equipo        
        p - José Gabriel Martínez Barboza
        p - Tatiana Moreira Beita
        p - Carlos Solanos Morales
        p - Alexander Picado Jiménez
          
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
