extends layout
 
block content
  .container
    br
    .col-xs-8
        
        h2 #{textos[0].titulo}
          img(alt='something', src='images/siguca.png',  href="#")#sigucaLogo
        br
        p #{textos[1].titulo}
      
        h2 GreenCore Solutions
          img(src='images/greencore.png', alt='something',  href="#")#sigucaLogo
        br
        p #{textos[2].titulo}
            .col-xs-4
