extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
block imgSession
block gcsNavbarItems
  ul.nav.navbar-nav 
   
block content
    .container
      br
      .col-xs-8
          img(alt='something', src='images/siguca.png',  href="#")#sigucaLogo
          h1 Acerca de SIGUCA
          br
          br
          p SIGUCA es un sistema de gestión de usuarios y control de asistencia.
          p Un sistema integrado de bajo costo y novedoso que provee un control de la jornada de los colaboradores en las empresas.
          p Diseñado y desarrollado por estudiantes de la Universidad Nacional como proyecto de ingeniería en sistemas de información para la empresa GreenCore Solutions.
          img(src='images/greencore.png', alt='something',  href="#")#sigucaLogo
          h2 GreenCore Solutions
          br
          p GreenCore Solutions, es una empresa costarricense fundada en el año 2005.
          p Su misión es el de brindar tecnologías basadas en GNU/Linux a un nivel corporativo de manera profesional mediante el respaldo y calidad de sus productos y servicios.
      .col-xs-4
          h2 El equipo    
          img(alt='something', src='images/gabriel.jpg',  href="#")    
          p - José Gabriel Martínez Barboza
          img(alt='something', src='images/tatiana.JPG',  href="#") 
          p - Tatiana Moreira Beita
          img(alt='something', src='images/carlos.jpg',  href="#") 
          p - Carlos Solanos Morales
          img(alt='something', src='images/alex.jpg',  href="#") 
          p - Alexander Picado Jiménez
   
