extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block content
  .wrapper
    .grids
        .grid-2.grid.green
        .grid-12.grid.green
          h2 Configuraciones
          label.labelP#areas(for='Areas') 
              |Áreas:   
          #modalAddArea.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
           .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Agregar Área
              .modal-body
                form(action='/signup',method='post')
                   div(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='nombreA') Nombre del área:
                           input(id='nombreA',type='text',value='',name='nombreA')
                    div#idSup(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='idSup') Id. Supervisor:
                           input(id='idSup',type='teext',value='',placeholder='',name='idSup')
                    div#descripcion(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='desc') Descripción:
                           input(id='desc',type='teext',value='',placeholder='',name='desc')
                    
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cerrar 
                button#btnYes.btn.btn-default(onclick="location.href = '/escritorio'", type='button') Agregar
          button.btn.btn-default( href='#modalAddArea', data-toggle='modal') + 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
          br
          br
          label.labelP#emp(for='Empleados') 
              |Empleados:   
          #modalAddEmpleado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
           .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Agregar Empleado
              .modal-body
                form(action='/signup',method='post')
                   div(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='nombreA') Nombre:
                           input(id='nombreA',type='text',value='',name='nombreA')
                    div#pApe(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='pApe') Primer Apellido:
                           input(id='pApe',type='teext',value='',placeholder='',name='pApe')
                    div#sApe(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='sApe') Segundo Apellido:
                           input(id='sApe',type='teext',value='',placeholder='',name='sApe')
                    div#correo(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='correo') Correo:
                           input(id='correo',type='teext',value='',placeholder='',name='correo')
                    div#tel(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='tel') Télefono:
                           input(id='tel',type='teext',value='',placeholder='',name='v')
                    div#puesto(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='puesto') Puesto:
                           input(id='puesto',type='text',value='',placeholder='',name='puesto')
                    div#idArea(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='idArea') Id. área:
                           input(id='idArea',type='text',value='',placeholder='',name='idArea')
                    div#codTar(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='codTar') Código de la tarjeta:
                           input(id='codTar',type='text',value='',placeholder='',name='codTar')
                    
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cerrar 
                button#btnYes.btn.btn-default(onclick="location.href = '/escritorio'", type='button') Agregar
          button.btn.btn-default( href='#modalAddEmpleado', data-toggle='modal')+ 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
          br
          br
          label.labelP#rol(for='Roles') 
              |Roles:   
           #modalAddRol.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
           .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Agregar Rol
              .modal-body
                form(action='/signup',method='post')
                   div(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='nombreA') Nombre:
                           input(id='nombreA',type='text',value='',name='nombreA')
                    div#pApe(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='pApe') Permisos:
                           input(id='pApe',type='teext',value='',placeholder='',name='pApe')
                    
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cerrar 
                button#btnYes.btn.btn-default(onclick="location.href = '/escritorio'", type='button') Agregar
          button.btn.btn-default( href='#modalAddRol', data-toggle='modal') + 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
          br
          br
          label.labelP#tHor(for='Tipos de Horario') 
              |Tipos de Horarios:   
          #modalAddTHor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
           .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Agregar Tipo de Horario
              .modal-body
                form(action='/signup',method='post')
                   div(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='nombreA') Nombre:
                           input(id='nombreA',type='text',value='',name='nombreA')
                    div#pApe(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='pApe') Id. área asociada:
                           input(id='pApe',type='teext',value='',placeholder='',name='pApe')
                    div#pApe(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='pApe') Lapso de Jornada:
                           input(id='pApe',type='teext',value='',placeholder='',name='pApe')
                    div#pApe(data-role='fieldcontain')
                      fieldset(data-role='controlgroup')
                        label(for='pApe') Lapso de descanso:
                           input(id='pApe',type='teext',value='',placeholder='',name='pApe')
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cerrar 
                button#btnYes.btn.btn-default(onclick="location.href = '/escritorio'", type='button') Agregar
          button.btn.btn-default( href='#modalAddTHor', data-toggle='modal') + 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
           
              
          

     
block sigucaNavbarItems
  ul#nav.main
    li 
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href='/graficos')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a.active(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuracion
    li
      a(href='/Ayuda')
        |Ayuda 
        i.icon-question-sign.icon-large 
          
          

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
