extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block content
  .wrapper
    .grids
        .grid-12.grid.green
          h2 Configuraciones
          label.labelP#areas(for='Areas') 
              |Áreas:   
          button.btn.btn-default(type='button') + 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
          br
          br
          label.labelP#emp(for='Empleados') 
              |Empleados:   
          button.btn.btn-default(type='button') + 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
          br
          br
          label.labelP#rol(for='Roles') 
              |Roles:   
          button.btn.btn-default(type='button') + 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
          br
          br
          label.labelP#tHor(for='Tipos de Horario') 
              |Tipos de Horarios:   
          button.btn.btn-default(type='button') + 
          button.btn.btn-default(type='button') - 
          button.btn.btn-default(type='button') modificar
              
          

     
block sigucaNavbarItems
  ul#nav.main
    li 
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href='/graficos')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a.active(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuracion
    li
      a(href='/Ayuda')
        |Ayuda 
        i.icon-question-sign.icon-large 
          
          

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
