extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaConfiguraciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/mercury.jpg', alt='something')  
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='/') Cerrar Sesión
block content

  div.container
    .col-xs-2
    .col-xs-8
      div.containerCentral
        div.optConfButtons
          button#ingreso.btn.btn-success(name='agregar', href='#addArea', data-toggle='modal') Empleados
          button#modificar.btn.btn-success(name='modificar') Tipos de Horarios
          button#cancelar.btn.btn-success(name='eliminar') Áreas
          button#cancelar.btn.btn-success(name='eliminar') Roles
        div.search
          .input-prepend
            span.add-on
              i.icon-search
            input#inputIcon.span2(type='text', placeholder='Ingrese Código', ng-model='query')
        div.searchButtons
          button#ingreso.btn.btn-warning(name='agregar', href='#addArea', data-toggle='modal') Buscar
          button#modificar.btn.btn-warning(name='modificar') Búsqueda Avanzada
    .col-xs-2

   
block sigucaNavbarItems
  ul.nav.navbar-nav
     li
      a(href='/graficoAdmin')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
      li.active
        a.active(href="/confAdmin")
          i.icon-cogs.icon-large
          |&nbsp;Configuracion
      li
        a(href='/Ayuda')
          |Ayuda 
          i.icon-question-sign.icon-large 

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
  script(src="/javascripts/angular-1.0.8/angular.min.js")
