extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaConfiguraciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/mercury.jpg', alt='something')  
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='/') Cerrar Sesión
block sigucaNavbarItems
 
block content
  div.container
    .col-xs-2
    .col-xs-8
      div#containerCentral
        h3  Seleccione el elemento
        div#contBotones
          button#empleados.btn.btn-success(name='agregar', onclick="changeElemt('empleado')") Empleados
          button#tipHorarios.btn.btn-success(name='modificar') Tipos de Horarios
          button#areas.btn.btn-success(name='eliminar') Áreas
          button#roles.btn.btn-success(name='eliminar') Roles

        div#busqueda
            label(for="codInput")
                |Digite el código de 
                span#pressElmnt 
                |:
              .input-prepend
              span.add-on
              input#inputIcon.span2(type='text', placeholder='Ingrese Código', ng-model='query')
        div#irBusqueda
          button(type="submit")#btn-buscar.btn.btn-primary
            i.icon-search.icon-white
            | Buscar
          button(type="submit")#btn-busquedaAva.btn.btn-primary
            i.icon-filter.icon-white
            | Búsqueda Avanzada
    
    .col-xs-2

   

  

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/sigucaHome.js")
  script(src="/javascripts/angular-1.0.8/angular.min.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")

