extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaConfiguraciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/mercury.jpg', alt='something')  
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='/') Cerrar Sesión
block sigucaNavbarItems
 
block content
  div.container
    .col-xs-2
    .col-xs-8
      div#containerCentral
        h3  Seleccione el elemento
        div#contBotones
          div#empl
            label(for="Departamento")
              |Departamento:
          button#empleados.btn.btn-success(name='agregar', onclick= "changeElemt('departamento')", data-toggle="modal" data-target="#addDep") Nuevo       
          button#areas.btn.btn-success(name='eliminar') Modificar o Eliminar
          div#horario
            label(for="horario")
              |Horario:
          button#empleados.btn.btn-success(name='agregar', onclick= "changeElemt('departamento')", data-toggle="modal" data-target="#addHorario") Nuevo       
          button#areas.btn.btn-success(name='eliminar') Modificar o Eliminar
          div#empleado
            label(for="empleado")
              |Empleado:
          button#empleados.btn.btn-success(name='agregar', onclick= "changeElemt('empleado')", data-toggle="modal" data-target="#addEmpl") Nuevo       
          button#areas.btn.btn-success(name='eliminar') Modificar o Eliminar
          div#roles
            label(for="roles")
              |Rol:
          button#empleados.btn.btn-success(name='agregar', onclick= "changeElemt('departamento')", data-toggle="modal" data-target="#addDep") Nuevo       
          button#areas.btn.btn-success(name='eliminar') Modificar o Eliminar

        //- div#busqueda
        //-     label(for="codInput")
        //-         |Digite el código de 
        //-         span#pressElmnt 
        //-         |:
        //-       .input-prepend
        //-       span.add-on
        //-       input#inputIcon.span2(type='text', placeholder='Ingrese Código', ng-model='query')
        //- div#irBusqueda
        //-   button(type="submit")#btn-buscar.btn.btn-primary
        //-     i.icon-search.icon-white
        //-     | Buscar
        //-   button(type="submit")#btn-busquedaAva.btn.btn-primary
        //-     i.icon-filter.icon-white
        //-     | Búsqueda Avanzada  
    .col-xs-2
      #addHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Añadir nuevo departamento
              .modal-body
                form(role='form')
                    .form-group
                      label(for='nombre') Nombre del Horario:
                      input#nombre.form-control( placeholder='Nombre del horario')
                      .checkbox-inline
                        label
                            input(type='checkbox')
                            | Jornada fija
                      .checkbox-inline
                        label
                            input(type='checkbox')
                            | Jornada libre
                    .form-group
                      label(for='hEntrada') Hora de entrada:
                      input#idSup.form-control( placeholder='Hora de entrada')
                    .form-group
                      label(for='hSalida') Hora de salida:
                      input#horario.form-control( placeholder='Hora de salida')   
                      label(for='iAlmuerzo') Inicio de almuerzo:
                      input#horario.form-control( placeholder='Inicio de Almuerzo')   
                      label(for='fAlmuerzo') Final de almuerzo:
                      input#horario.form-control( placeholder='Final de Almuerzo')
                      label(for='tReceso') Tiempo de receso:
                      input#horario.form-control( placeholder='numero de horas + h  numero de minutos + m')    

              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
                button.btn.btn-default(type='submit') Ingresar
      #addDep.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Añadir nuevo departamento
              .modal-body
                form(role='form')
                  .form-group
                      label(for='nombreArea') Nombre:
                      input#group.form-control( placeholder='Nombre del area')
                    .form-group
                      label(for='idSup') Código del supervisor:
                      input#idSup.form-control( placeholder='Código del supervidor')
                    .form-group
                      label(for='horario') Horario:
                      input#horario.form-control( placeholder='Horario asociado')      
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
                button.btn.btn-default(type='submit') Ingresar

      //agregar empleados
      #addEmpl.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Añadir nuevo Empleado
              .modal-body
                form(role='form', method="POST", action="/empleado")
                  .form-group
                      label(for='nombre') Nombre:
                      input#group.form-control(type= 'text', placeholder='Nombre', name= 'nombre')
                    .form-group
                      label(for='apellido1') Primer Apellido:
                      input#apellido1.form-control(type= 'text', placeholder='Primer Apellido', name= 'apellido1')
                    .form-group
                      label(for='apellido2') Segundo Apellido:
                      input#apellido2.form-control(type= 'text', placeholder='Segundo Apellido', name='apellido2')
                    .form-group
                      label(for='email') Correo Eléctronico:
                      input#email.form-control(type= 'email', placeholder='Correo Electronico', name='email')
                    .form-group
                      label(for='cedula') Cédula:
                      input#cedula.form-control(type= 'Number', placeholder='Cédula', name='cedula')
                    .form-group
                      label(for='codTarjeta') Código de Empleado:
                      input#codTarjeta.form-control(type= 'Number', placeholder='Código de Empleado', name='codTarjeta')            
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
                    button.btn.btn-default(type='submit') Ingresar
   
              .modal-footer    

  

block sigucaJS
  script(src="/javascripts/sigucaHome.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")

