extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/marito.jpg', alt='something') 
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='#') Cerrar Sesión
block content
  .wrapper (ng-app="empleadoManager")
    .grids 
        .grid-12.grid.green
          div#wrappConf
           ul.inline
              li Usted tiene a cargo 3 empleados.
              li
                .input-prepend
                  span.add-on
                    i.icon-search
                  input#inputIcon.span2(type='text', placeholder='Search...', ng-model='query')
              li
                p Ordenar por: Nombre
          table.table.table-hover
                thead
                  tr
                    th
                      | Name
                    th
                      | Phone
                tbody
                  tr
                    td Contact 1
                    td 1234567
                  tr
                    td Contact 2
                    td 123999000





 
           

     
block sigucaNavbarItems
  ul#nav.main
    li 
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href='/graficos')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a.active(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuracion
    li
      a(href='/Ayuda')
        |Ayuda 
        i.icon-question-sign.icon-large 
          
          

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
  script(src="/javascripts/angular-1.0.8/angular.min.js")
