extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaConfiguraciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block sigucaNavbarItems
        ul.nav.navbar-nav
          li
            a(href="/escritorio")
              i.icon-home.icon-large
              |&nbsp;Escritorio
          li.active
            a(href='/graficos')
              i.icon-bar-chart.icon-large
              |&nbsp;Gráficos
          li.dropdown
            a.dropdown-toggle( data-toggle='dropdown')
              i.icon-edit.icon-large  
                          |&nbsp;Eventos 
                          span.caret
                        ul.dropdown-menu#ba
                          li
                            a(href='#') Justificaciones
                          li.divider
                          li
                            a(href='#') Solicitudes
          li.active
            a(href="/configuracion")
              i.icon-cogs.icon-large
              |&nbsp;Configuracion
          li
            a(href='/Ayuda')
              i.icon-question-sign.icon-large     
              |&nbsp;Acerca de SIGUCA
block content
  #containerImgs
    .col-xs-12
        img(alt='something', src='images/logo-siguca.png',  href="#")#sigucaLogo
        img(alt='something', src='images/logo-greencore.png',  href="#")#sigucaLogo
  .container 
    .col-xs-2
    .col-xs-8

      div#containerCentral
        h3  Seleccione el elemento
        div#contBotones
          button#empleados.btn.btn-success(name='agregar', onclick="a(href='/empleado')") Empleados
          button#tipHorarios.btn.btn-success(name='modificar') Tipos de Horarios
        div#busqueda
            label(for="codInput")
                |Digite el código de 
                span#pressElmnt 
                |:
              .input-prepend
              span.add-on
              input#inputIcon.span2(type='text', placeholder='Ingrese Código', ng-model='query')
        div#irBusqueda
          button(type="submit")#btn-buscar.btn.btn-primary
            i.icon-search.icon-white
            | Buscar
          button(type="submit")#btn-busquedaAva.btn.btn-primary
            i.icon-filter.icon-white
            | Búsqueda Avanzada
    
    .col-xs-2
                    
   
block sigucaNavbarItems
          

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
  script(src="/javascripts/angular-1.0.8/angular.min.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")
