extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaConfiguraciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/mercury.jpg', alt='something')  
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='/') Cerrar Sesión
block content
  .wrapper 
    .grids 
        .grid-8.grid.green
          div#wrappConf
           h2 Empleados
           ul.inline
              li Todos los empleados.
              li
                .input-prepend
                  span.add-on
                    i.icon-search
                  input#inputIcon.span2(type='text', placeholder='Search...', ng-model='query')
              li
                p Ordenar por: Nombre

          table.table.table-hover
                thead
                  tr
                    th
                      | Nombre empleado
                    th
                      | Área
                tbody
                  tr
                    td 
                      label.checkbox(for='empleados-0')
                        input#empleados-0(name='empleados', value='1empleado', type='checkbox')
                        | Gabriel Martinez Barboza
                    td S. Técnico
                  tr
                    td 
                      label.checkbox(for='empleados-2')
                        input#empleados-0(name='empleados', value='3empleado', type='checkbox')
                        | Carlos Solano Arias
                    td S. Técnico
                  tr
                    td 
                      label.checkbox(for='empleados-1')
                        input#empleados-0(name='empleados', value='2empleado', type='checkbox')
                        | Tatiana Moreira Beita
                    td Innovacion
                  tr
                    td 
                      label.checkbox(for='empleados-2')
                        input#empleados-0(name='empleados', value='3empleado', type='checkbox')
                        | Marta Loría Cabrera
                    td Recursos Humanos
                  tr
                    td 
                      label.checkbox(for='empleados-2')
                        input#empleados-0(name='empleados', value='3empleado', type='checkbox')
                        | Jairo Arrieta Sanchez
                    td Recursos Humanos

            button#ingreso.btn.btn-success(name='agregar', href='#addEmpleado', data-toggle='modal') Agregar
            button#modificar.btn.btn-warning(name='modificar') Modificar
            button#cancelar.btn.btn-danger(name='eliminar') Eliminar
            #addEmpleado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
             .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Agregar Empleado
                .modal-body
                   form.form-horizontal
                    fieldset
                        div.form-group.gcsContainer
                          label.col-lg-4(for="Nombre")
                            |Nombre:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="nombre" id="#email" placeholder="Nombre")
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="1apellido")
                            |Primer Apellido:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="1apellido" id="#1apellido" placeholder="Primer Apellido")
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="2apellido")
                            |Segundo Apellido:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="2apellido" id="#2apellido" placeholder="Segundo Apellido")
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="cedula")
                            |Cédula:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="cedula" id="#cedula" placeholder="Cédula")
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="password")
                            |Código Tarjeta:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="password" name="password" id="#password" placeholder="Contraseña")
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="puesto")
                            |Puesto:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="puesto" id="#puesto" placeholder="Puesto")
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="area")
                            |Rol:
                          div.col-lg-6.col-md-6.col-sm-6
                            select#area.input-xlarge(name='area')
                                  option Supervisor
                                  option Empleado
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="area")
                            |Área:
                          div.col-lg-6.col-md-6.col-sm-6
                            select#area.input-xlarge(name='area')
                                  option S. Técnico
                                  option Innovación
                                  option Recursos Humanos
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="tHorario")
                            |Tipo de Horario:
                          div.col-lg-6.col-md-6.col-sm-6
                            select#area.input-xlarge(name='tHorario')
                                  option Diurno
                                  option 3 días
                                  option 1 dia-casa
                                  option 12 a 6


                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="infoextra")
                            |Información Adicional
                            textarea.form-control(name='infoextra')

                        //
                           Button (Double) 
                        .control-group
                          label.control-label(for='ingreso')
                            .controls
                            button#ingreso.btn.btn-success(name='ingreso') Ingresar
                            button#cancelar.btn.btn-danger(name='cancelar') Cancelar

                
        .grid-8.grid.green
          div#wrappConf
             h2 Tipo de Horario
             ul.inline
                li Hay 4 tipos de horarios en total.
                li
                  .input-prepend
                    span.add-on
                      i.icon-search
                    input#inputIcon.span2(type='text', placeholder='Search...', ng-model='query')
                li
                  p Ordenar por: Nombre
            table.table.table-hover
                  thead
                    tr
                      th
                        | Nombre de horario
                      th
                        | Área asociada
                  tbody
                    tr
                      td 
                        label.checkbox(for='tHorario-0')
                          input#empleados-0(name='tHorario', value='1tHorario', type='checkbox')
                          | Diurno
                      td 
                        ul
                          li S. Técnico
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | 1 día-casa
                      td 
                        ul
                          li S. Técnico
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | 3 días
                      td 
                        ul
                          li Innovación
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | 12 a 6
                      td 
                        ul
                          li Recursos Humanos
                          
            button#ingreso.btn.btn-success(name='agregar', href='#addtipoH', data-toggle='modal') Agregar
            button#modificar.btn.btn-warning(name='modificar') Modificar
            button#cancelar.btn.btn-danger(name='eliminar') Eliminar
            #addtipoH.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
             .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Agregar Tipo Horario
                .modal-body
                   form.form-horizontal
                    fieldset
                        div.form-group.gcsContainer
                          label.col-lg-4(for="Nombre")
                            |Nombre horario:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="nombre" id="#email" placeholder="Nombre")
                         div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="areaAso")
                            |Área asociada:
                          div.col-lg-6.col-md-6.col-sm-6
                            select#area.input-xlarge(name='areaAso')
                                  option S. Técnico
                                  option Innovación
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="clasificacion")
                            |Clasificación:
                          div.col-lg-6.col-md-6.col-sm-6
                            select#area.input-xlarge(name='clasificacion')
                                  option Jornada
                                  option Rango Semanal
                        div.form-group.gcsContainer
                          label.col-lg-4(for="entrada")
                            |Hora Salida:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="entrada" placeholder="8 a.m")
                        div.form-group.gcsContainer
                          label.col-lg-4(for="salida")
                            |Hora Salida:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="salida"  placeholder="5 p.m")
                        div.form-group.gcsContainer
                          label.col-lg-4(for="almuerzo")
                            |Hora Almuerzo:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="almuerzo"  placeholder="12 m.d")
                        div.form-group.gcsContainer
                          label.col-lg-4(for="descanso")
                            |Tiempo de descanso:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="descanso"  placeholder="30 min")
                        
                        //
                           Button (Double) 
                        .control-group
                          label.control-label(for='ingreso')
                          .controls
                            button#ingreso.btn.btn-success(name='ingreso') Ingresar
                            button#cancelar.btn.btn-danger(name='cancelar') Cancelar
    .grids
      .grid-8.grid.green
        div#wrappConf
             h2 Áreas
             ul.inline
                li Hay 4 tipos de áreas en total.
                li
                  .input-prepend
                    span.add-on
                      i.icon-search
                    input#inputIcon.span2(type='text', placeholder='Search...', ng-model='query')
                li
                  p Ordenar por: Nombre
            table.table.table-hover
                  thead
                    tr
                      th
                        | Nombre del área
                      th
                        | Supervisor
                  tbody
                    tr
                      td 
                        label.checkbox(for='tHorario-0')
                          input#empleados-0(name='tHorario', value='1tHorario', type='checkbox')
                          | S. Técnico
                      td 
                        ul
                          li Marito Morta Leda
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | Innovación
                      td 
                        ul
                          li Marito Morta Leda
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | Recursos Humanos
                      td 
                        ul
                          li Cristo Palmas Ríos
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | Ventas
                      td 
                        ul
                          li Sara Flores Porras
                          
            button#ingreso.btn.btn-success(name='agregar', href='#addArea', data-toggle='modal') Agregar
            button#modificar.btn.btn-warning(name='modificar') Modificar
            button#cancelar.btn.btn-danger(name='eliminar') Eliminar
            #addArea.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
             .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Agregar Área
                .modal-body
                   form.form-horizontal
                    fieldset
                        div.form-group.gcsContainer
                          label.col-lg-4(for="Nombre")
                            |Nombre área:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="nombre" id="#nombre" placeholder="Nombre")
                        div.form-group.gcsContainer
                          label.col-lg-4(for="entrada")
                            |Código Supervisor:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="entrada" placeholder="codigo supervisor")
                        div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="infoextra")
                            |Descripción
                            textarea.form-control(name='infoextra')
                       
                        //
                           Button (Double) 
                        .control-group
                          label.control-label(for='ingreso')
                          .controls
                            button#ingreso.btn.btn-success(name='ingreso') Ingresar
                            button#cancelar.btn.btn-danger(name='cancelar') Cancelar
      .grid-8.grid.green
        div#wrappConf
             h2 Roles
             ul.inline
                li Hay 3 tipos de roles en total.
                li
                  .input-prepend
                    span.add-on
                      i.icon-search
                    input#inputIcon.span2(type='text', placeholder='Search...', ng-model='query')
                li
                  p Ordenar por: Nombre
            table.table.table-hover
                  thead
                    tr
                      th
                        | Nombre de Rol
                      th
                        | Permisos 
                  tbody
                    tr
                      td 
                        label.checkbox(for='tHorario-0')
                          input#empleados-0(name='tHorario', value='1tHorario', type='checkbox')
                          | Administrador
                      td 
                        ul
                          li IMEC Todos Empleados
                          li IMEC Todos Tipos de horario
                          li IMEC Todos Áreas
                          li IMEC Todos Roles
                          
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | Supervisor
                      td 
                        ul
                          li IMEC Empleados a su cargo
                          li IMEC Tipos de horario a su cargo
                    tr
                      td 
                        label.checkbox(for='tHorario-1')
                          input#empleados-0(name='tHorario', value='2tHorario', type='checkbox')
                          | Empleado
                      td 
                        ul
                          li Consulta de su información

                          
            button#ingreso.btn.btn-success(name='agregar', href='#addRol', data-toggle='modal') Agregar
            button#modificar.btn.btn-warning(name='modificar') Modificar
            button#cancelar.btn.btn-danger(name='eliminar') Eliminar
            #addRol.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
             .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Agregar Rol
                .modal-body
                   form.form-horizontal
                    fieldset
                        div.form-group.gcsContainer
                          label.col-lg-4(for="Nombre")
                            |Nombre Rol:
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="nombre" id="#email" placeholder="Nombre")
                         div.form-group.gcsContainer
                          label.col-lg-4.col-md-6.col-sm-6(for="areaAso")
                            |Permisos:
                          div.col-lg-6.col-md-6.col-sm-6
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Ingreso de empleados
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Modificación de empleados
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Eliminación de empleados
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Ingreso de horarios
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Modificación de horarios
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Eliminación de horarios
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Ingreso de áreas
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Modificación de áreas
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Eliminación de áreas
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Ingreso de roles
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Modificación de roles
                            label.checkbox(for='ingresoAreas-1')
                              input#addArea(name='ingresoAreas', value='ingresoAreas', type='checkbox')
                              | Eliminación de roles
                        
                        
                        //
                           Button (Double) 
                        .control-group
                          label.control-label(for='ingreso')
                          .controls
                            button#ingreso.btn.btn-success(name='ingreso') Ingresar
                            button#cancelar.btn.btn-danger(name='cancelar') Cancelar

   
block sigucaNavbarItems
  ul#nav.main
    li
      a(href='/graficoAdmin')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li.active
      a.active(href="/confAdmin")
        i.icon-cogs.icon-large
        |&nbsp;Configuracion
    li
      a(href='/Ayuda')
        |Ayuda 
        i.icon-question-sign.icon-large 
          
          

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
  script(src="/javascripts/angular-1.0.8/angular.min.js")
