extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/marito.jpg', alt='something') 
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='#') Cerrar Sesión
block content
  .wrapper (ng-app="empleadoManager")
    .grids 
        .grid-12.grid.green
          ul.inline
            li You have {{empleado.length}} empleado.
              li
                .input-prepend
                  span.add-on
                    i.icon-search
                  input#inputIcon.span2(type='text', placeholder='Search...', ng-model='query')
              li
                p Sorted by: {{columnSort.sortColumn}}
          table.table.table-hover (ng-controller="ListController")
            thead
              tr
                th(ng-repeat='header in headers')
                  a(ng-click='columnSort.sortColumn=headers[$index];columnSort.reverse=!columnSort.reverse') {{ headers[$index] | capitalise }}
            tbody
              tr(ng-repeat='contact in contacts | orderBy:columnSort.sortColumn:columnSort.reverse | filter: query')
                td {{ empleado.cedula }}
                td {{ empleado.nombre }}  
                td {{ empleado.apellido1 }} 
                td {{ empleado.departamento }}    
           

     
block sigucaNavbarItems
  ul#nav.main
    li 
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href='/graficos')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a.active(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuracion
    li
      a(href='/Ayuda')
        |Ayuda 
        i.icon-question-sign.icon-large 
          
          

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
  script(src="/javascripts/angular-1.0.8/angular.min.js")
