extends layoutAdmin

block content
  .container
    
    h3 Lista de Departamentos
    br
    .table-responsive
    table.table
        thead
          tr
            th Nombre
        tbody 
          each departamento, i in departamentos
            tr
              td #{departamento.nombre} 
              td
                 a#edit.btn.btn-success(href="/departamento/editDepartamento/"+departamento.id)  editar
              td
                 a#delete.btn.btn-danger(href="/departamento/deleteDepartamento/"+departamento.id)  eliminar