extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
block imgSession
  
block gcsNavbarItems
  ul.nav.navbar-nav  

block content
  .container
    
    h1 Lista de Departamentos
 
      ol
       table.table.table-hover 
        each departamento, i in departamentos
          tr
            td #{departamento.nombre} 
            td
               a(href="/departamento/editDepartamento/"+departamento.id)  editar
            td
               a(href="/departamento/deleteDepartamento/"+departamento.id)  eliminar
    
    



