extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')

block imgSession
  
block gcsNavbarItems
  ul.nav.navbar-nav  

block content
  .container
    
    .modal-dialog
            .modal-content
              .modal-header
                h4#myModalLabel.modal-title Actualizar Información de Supervisor
              .modal-body
                form(role='form', method="POST", action="/supervisor/" + _id)
                  .form-group
                      label(for='nombre') Nombre:
                      input#group.form-control(type= 'text', placeholder='Nombre', name= 'nombre', value = nombre)
                    .form-group
                      label(for='apellido1') Primer Apellido:
                      input#apellido1.form-control(type= 'text', placeholder='Primer Apellido', name= 'apellido1', value = apellido1)
                    .form-group
                      label(for='apellido2') Segundo Apellido:
                      input#apellido2.form-control(type= 'text', placeholder='Segundo Apellido', name='apellido2', value = apellido2)
                    .form-group
                      label(for='email') Correo Eléctronico:
                      input#email.form-control(type= 'email', placeholder='Correo Electronico', name='email', value = email)
                    .form-group
                      label(for='cedula') Cédula:
                      input#cedula.form-control(type= 'Number', placeholder='Cédula', name='cedula', value = cedula)
                    .form-group
                      label(for='codTarjeta') Código de Empleado:
                      input#codTarjeta.form-control(type= 'Number', placeholder='Código de Empleado', name='codTarjeta', value = codTarjeta)
                    .form-group
                      label(for="area")
                        |Area a Cargo:
                      select.form-control#textInput(type="text", name="area", option selected = area ) 
                        option Soporte
                        option Recursos Humanos
                        option Contabilidad         
                    .form-group
                      input(type='hidden', name='_method', value='put')        
                    button.btn.btn-default(type='submit') Actualizar 
              .modal-footer    
    
