extends layoutAdmin

block content
  .container
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Actualizar Departamentos
        .modal-body
          form(role='form', method="POST", action="/departamento/" + _id)#login-form.well.span4
            .form-group
                label(for='nombre') Nombre:
                  input#group.form-control( placeholder='Nombre del area', name ='nombre', value = departamento.nombre)
                                                          
            button.btn.btn-success(type='submit') Actualizar
            button.btn.btn-default(type='button', data-dismiss='modal') Cancelar

        .modal-footer    