extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  
block gcsNavbarItems
  ul.nav.navbar-nav  

block content
  .container
    
    .modal-dialog
            .modal-content
              .modal-header
                h4#myModalLabel.modal-title Actualización de Departamentos
              .modal-body
                form(role='form', method="POST", action="/departamento/" + _id)
                  .form-group
                      label(for='nombre') Nombre:
                      input#group.form-control( placeholder='Nombre del area', name ='nombre', value = nombre)
                    .form-group
                      label(for='idSupervisor') Código del supervisor:
                      input#idSup.form-control( placeholder='Código del supervidor', name = 'idSupervisor',  value = idSupervisor)
                    div.form-group
                      label(for="tipoJornada")
                        |Tipo de Jornada:
                      select.form-control#textInput(type="text", name="tipoJornada", value = tipoJornada ) 
                        option Fija
                        option Horas
                        option Excepcion    
                    .form-group
                      label(for='horario') Horario:
                      input#horario.form-control( placeholder='Horario asociado', name= horario, value= horario)      
                      input(type='hidden', name='_method', value='put')               
                                                  
                    button.btn.btn-default(type='submit') Actualizar
   
              .modal-footer    
    
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")




