extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/cal-heatmap.css')
block imgSession
  
block gcsNavbarItems
  ul.nav.navbar-nav  

block content
  .container
    .col-xs-8
      h3 Gráfico de:  #{usuario.username}
      button#next.btn
      button#previous.btn
      div#cal 
  
    .col-xs-4
       h3 Filtros   
       div.filter
                 label#tHorario(for='horario') 
                   |Soporte Técnico
            
             div.filter
                  label#empleados(for='empleados') 
                   |Empleados: 
                  .btn-group
                     .btn-group
                    select.form-control#textInput(type="text", name="idSupervisor") 
                        option(value= todos) Mí gráfico
                        each empleado, i in empleados
                         
                            option(value= empleado.id) #{empleado.nombre} #{empleado.apellido1}
block sigucaJS
  script( src='/js/sigucaHome.js')
  script(src="/js/d3.min.js")
  script(src="/js/cal-heatmap.js")


