extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/cal-heatmap.css')

block content   
    .container
      if(usuario.tipo != 'Administrador')
        include ./escritorioUsuario.jade
        
      if(usuario.tipo == 'Administrador')
        include ./escritorioAdministrador.jade
                
block sigucaJS
  if(usuario.tipo != 'Administrador')
    script(src="/socket.io/socket.io.js")
    script(src="/js/components/d3.min.js")
    script(src="/js/components/cal-heatmap.js")
    script(src="/js/app/listenersUsuario.js")
    if(usuario.tipo == 'Supervisor')
      script( src='/js/app/sigucaHome.js')
    else
      script( src='/js/app/sigucaHomeEmpl.js')

  if(usuario.tipo == 'Administrador')
    script(src="/js/components/mailgun_validator.js")
    script(src="/js/components/generarPassword.js")
    script(src='/js/app/timepickerAdmin.js')
    script(src="/js/app/listenersAdmin.js")