extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/cal-heatmap.css')

block gcsNavbarItems
  ul.nav.navbar-nav

  block content   
    .container
      .col-xs-8
        h3 Marcas Personales
        div#cal
      
      .col-xs-4
       h3 Eventos Pendientes   
       ul.list-group
        li.list-group-item
          a(href='/Justificaciones')
            span.badge 2 
            | Solicitudes
        li.list-group-item
          a(href='/Justificaciones')
            span.badge 3 
            | Justificaciones

           
block sigucaJS
  script(src="/stylesheets/d3.min.js")
  script(src="/stylesheets/cal-heatmap.min.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script( src='/stylesheets/sigucaHome.js')
 

