extends layoutAdmin 

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/marito.jpg', alt='something') 
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='/') Cerrar Sesión 
block sigucaNavbarItems
  

block content
  .container
   .grids
    .grid-10.grid.green
      h3 Marcas Personales
      img.img-responsive#grafico(src='/images/tati.PNG', alt='Responsive image') 
    .grid-6.grid.green
     h3 Eventos Pendientes   
     ul.list-group
        li.list-group-item
            span.badge 2
            | Solicitud Ausencias
        li.list-group-item
            span.badge 18
            | Justificaciones
        li.list-group-item
            span.badge 0
            | Solicitudes J.extra
      


</div>

    
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
