extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/bootstrap-timepicker.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
  link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')    

block content
    div.container
      .col-xs-4

          h3#labelIMEC
            |IMEC:
          div#contBotones
            div#empl
              label(for="Departamento")
                |Departamento:
            form(action= '/departamento')
              button#empleados.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addDep") Nuevo
              button#areas.btn.btn-success(type = 'submit', name='eliminar',  onclick= "/departamento") Modificar o Eliminar      
            
            div#horario
              label(for="horario")
                |Horario:
            form(action= '/horarioN')    
              button#empleados.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addHorario") Nuevo       
              button#areas.btn.btn-success(type = 'submit', name='eliminar',  onclick= "/horarioN") Modificar o Eliminar
            div#empleado
              label(for="empleado")
                |Empleado:
            form(action= '/empleado')     
              button#empleados.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addEmpl") Nuevo 
              button#areas.btn.btn-success(type = 'submit', name='eliminar',  onclick= "/empleado") Modificar o Eliminar
          
    .col-xs-2
      #addHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Añadir nuevo horario
              .modal-body
                form(action='/horarioN', method='post')#login-form.well.span4
                  .form-group
                    h4 Información Básica
                    label(for='nombre' style="float:left") Nombre del Horario:
                      input.form-control#textInput( type="text", name="nombre", placeholder='Nombre del horario')
                    label(for='tipo') Tipo jornada  
                      .checkboxAwesome.checkbox-success          
                        input(type='checkbox', name= "tipo", id="tipoJornada")
                        label(for='tipoJornada', id="tipoJornadaLabel") Libre         
                  .form-group
                    h4 Información de jornada
                    label(for='horaEntrada') Hora de Inicio:
                      div#timepicker.input-group
                        input.input-small.form-control(type="text", name= 'horaEntrada')
                        span.input-group-addon
                          i.icon-time
                    label(for='horaSalida') Hora de salida:
                      div#timepicker1.input-group
                        input.input-small.form-control(type="text", name= 'horaSalida')
                        span.input-group-addon
                          i.icon-time
                    label(for='rangoJornada') Rango de horas:
                      label.form-control#rangoJornada()
                      div#timepicker4.input-group
                        input.form-control#inputRango(type="text", name="rangoJornada")
                        span.input-group-addon
                          i.icon-time  
                  .form-group
                    h4 Información de descansos
                    label(for='tiempoReceso') Rango de receso:
                      div#timepicker2.input-group
                        input.input-small.form-control(type="text", name= 'tiempoReceso')
                        span.input-group-addon
                          i.icon-time  
                    label(for='tiempoAlmuerzo') Rango de almuerzo:
                      div#timepicker3.input-group
                        input.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                        span.input-group-addon
                          i.icon-time
                     
                  button.btn.btn-success(type='submit') Ingresar
                  button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
      

      //agregar departamento            
      #addDep.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Añadir nuevo departamento
              .modal-body
                form(role='form', method="POST", action="/departamento")#login-form.well.span4
                  .form-group
                      label(for='nombre') Nombre:
                        input#group.form-control( type="text", placeholder='Nombre del area', name= "nombre")
                  button.btn.btn-success(type='submit') Ingresar
                  button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar                


      //agregar empleados
      #addEmpl.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-hidden='true') × 
                h3#myModalLabel.modal-title Añadir nuevo Empleado
                form(role='form', method="POST", action="/empleado")#login-form.well.span4
                    .form-group
                      h3 Información Básica
                      label(for='nombre') Nombre:
                        input#group.form-control(type= 'text', placeholder='Carlos', name= 'nombre')
                      label(for='cedula') Cédula:
                       input#cedula.form-control(type= 'text', placeholder='110459625', name='cedula') 
                    .form-group
                      label(for='apellido1') Primer Apellido:
                        input#apellido1.form-control(type= 'text', placeholder='Corella', name= 'apellido1')
                      label(for='apellido2') Segundo Apellido:
                       input#apellido2.form-control(type= 'text', placeholder='Sandi', name='apellido2')   
                      label(for='email') Correo Eléctronico:
                        input#email.form-control(type= 'email', placeholder='alguien@ejemplo.com', name='email')
                       

                    .form-group 
                      h3 Información Laboral
                      label(for='codTarjeta') Código de Empleado:
                        input#codTarjeta.form-control(type= 'text', placeholder='Código de Empleado', name='codTarjeta')
                      label(for="usernameInput")
                        |Usuario:
                        input.form-control#textInput(type="text", name="username", placeholder="Usuario")
                      label(for="tipoInput")
                        |Tipo de Usuario:
                        select.form-control#selectTipo(type="text", name="tipo") 
                          option Empleado
                          option Supervisor
                          option Administrador

                      label(for='horario') Horario:
                        select.form-control#textInput(type="text", name="idHorario") 
                          each horario, i in horarios
                              option(value= horario.id) #{horario.nombre} 

                      label(for='departamento') Departamento:
                        br
                        select.form-control#selectDepartamentos.selectpicker(data-style="btn-success", data-width="200px", type="text", name="idDepartamento", multiple="multiple") 
                          each departamento, i in departamentos
                              option(value= departamento.id) #{departamento.nombre} 

                    .form-group
                      label(for="passwordInput")
                        |Contraseña:
                        input.form-control#passInput(type='text', size='18', name="password", placeholder="Contraseña")
                      br
                      button.btn.btn-default(type='button', onclick='generatepass(8)') Generar Contraseña
                                    
                    button.btn.btn-success(type='submit') Ingresar
                    button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
block sigucaJS
  script(src="/js/bootstrap-timepicker.min.js")
  script( src='/js/timepickerAdmin.js')
  script(src="/js/bootstrap-select.min.js")
  script(src="/js/mailgun_validator.js")


