extends layoutEmpl

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet', href='/stylesheets/jquery.tzineClock/jquery.tzineClock.css')
  link(rel='stylesheet', href='/stylesheets/jquery.tzineClockstyles.css')
  link(rel='stylesheet', href='/stylesheets/cal-heatmap.css')

  
block gcsNavbarItems
  ul.nav.navbar-nav
block content

  
  .container
    .col-xs-8
      h3 Marcas Personales
      button#next.btn
      button#previous.btn
      div#cal
      //- ol
      //-   if (!marca)
      //-    table.table.table-hover 

      //-     tr
      //-         td #Empl 
      //-         td Tipo Marca
      //-         td epoch
                          
      //-     each marca, i in marcas

      //-      if (marca.codTarjeta == usuario.codTarjeta) 
      //-       tr
      //-         td #{marca.codTarjeta}
      //-         td #{marca.tipoMarca}
      //-         td #{marca.epoch}
             
                     
      //-   else 
      //-     h1 no hay marcas registradas
            
    .col-xs-4
        h3 Solicitudes 
        ul.list-group
          li.list-group-item
            a(data-toggle="modal" data-target="#horaExtra")
              | Solicitud de hora extraordinaria
          li.list-group-item
            a(data-toggle="modal" data-target="#permiso")
              | Solicitud de permiso anticipado
 
    .col-xs-2
    .col-xs-8
      div#containerCentral
        h3  Marca Mediante el Sistema
        div#contBotones
          div#Marca             
           button#marca.btn.btn-success(name='marcar', onclick= "changeElemt('marca')", data-toggle="modal" data-target="#addMarca") Realizar Marca
            
    .col-xs-2      
      //modal para realizar marcas
      #addMarca.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        
        .modal-dialog
            .modal-content
              
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h1#myModalLabel.modal-title SIGUCA
                h3#myModalLabel.modal-title Marcar Mediante Sistema

              .modal-body
               table.table 
                 form.marcas(role='form', method="POST", action="/marca")
                  tr
                    modal.group     
                       label-info( name= codTarjeta)  Empleado # #{usuario.codTarjeta}
                  tr
                    modal.group     
                          td
                            
                            button.btn.btn-success(type='submit', value = 'entrada', name = 'marca') Entrada
                    modal.group
                          td
                            button.btn.btn-success(type='submit' , value = 'salida', name = 'marca') Salida
                  tr
                    modal.group     
                          td
                            button.btn.btn-warning(type='submit', value = 'salidaReceso', name = 'marca') Salida Receso
                    modal.group
                          td
                            button.btn.btn-warning(type='submit', value = 'entradaReceso', name = 'marca') Entrada Receso          
                  tr
                    modal.group     
                          td
                            button.btn.btn-primary(type='submit', value = 'salidaAlmuerzo', name = 'marca') Salida Almuerzo
                    modal.group
                          td
                            button.btn.btn-primary(type='submit', value = 'entradaAlmuerzo', name = 'marca') Entrada Almuerzo                    
                  tr   
                    modal.group
                      td             
                          button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                .container
                   #fancyClock    
              .modal-footer    
      #horaExtra.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title Solicitar hora extraordinaria
                .modal-body
                  form(role='form', method="POST", action="/horasExtra")
                    .form-group
                        label(for='fecha') Día:
                        input#fecha.form-control.clsDatePicker(type='text', name='fecha', placeholder='Fecha')
                        
                      .form-group
                        label(for='apellido1') Hora inicial:
                        input#apellido1.form-control(type= 'text', placeholder='Hora inicio de horas extras', name= 'apellido1')
                      .form-group
                        label(for='apellido2') Hora final:
                        input#apellido2.form-control(type= 'text', placeholder='Hora final de horas extras', name='apellido2')
                             
                      button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
                      button.btn.btn-default(type='submit') Ingresar
     
                .modal-footer  
      #permiso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title Solicitar permiso anticipado
                .modal-body
                  form(role='form', method="POST", action="/permiso")
                    .form-group
                        label(for='diaI') Día inicial:
                        input#fecha.form-control.clsDatePicker(type='text', name='fecha', placeholder='Día Inicial')
                      .form-group
                        label(for='horaI') Hora inicial:
                        input#apellido1.form-control(type= 'text', placeholder='Hora inicio de permiso anticipado', name= 'apellido1')
                      .form-group
                        label(for='diaF') Día final:
                        input#fecha.form-control.clsDatePicker(type='text', name='fecha', placeholder='Día final')
                      .form-group
                        label(for='horaF') Hora final:
                        input#apellido2.form-control(type= 'text', placeholder='Hora final de permiso anticipado', name='apellido2')
                      .form-group
                        label(for='motivo') Motivo:
                        input#apellido2.form-control(type= 'text', placeholder='Motivo del permiso solicitado', name='apellido2')
                                    
                      button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
                      button.btn.btn-default(type='submit') Ingresar
     
                .modal-footer  
        
block sigucaJS
  script( src='/js/sigucaHome.js')
  script(src="/js/d3.min.js")
  script(src="/js/cal-heatmap.js")
  script(type='text/javascript', src='/javascripts/demo/jquery.tzineClock/jquery.tzineClock.js')
  script(type='text/javascript', src='/javascripts/demo/script.js')

 