extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
  ul.nav.navbar-nav
    li.active 
      a(href="#")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href="/graficos")
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li
      a(href="/configuracion")
        i.icon-cog.icon-large
        |&nbsp;Configuración
    li
      a(href="ayuda")
        i.icon-question-sign.icon-large  
        |&nbsp;Ayuda

block content
  div.row
  div.col-sm-4
    |Ultimas Marcas
  div.col-sm-8
    #flipClock
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
