extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  
block sigucaNavbarItems
  

block content
  .container
    .col-xs-8
      h3 Marcas Personales
      img.img-responsive#grafico(src='/images/tati.PNG', alt='Responsive image') 
    .col-xs-4
     h3 Eventos Pendientes   
     ul.list-group
        li.list-group-item
            span.badge 2
            | Solicitud Ausencias
        li.list-group-item
            span.badge 18
            | Justificaciones
        li.list-group-item
            span.badge 0
            | Solicitudes J.extra
      


    
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")

