
extends layout

block content
  .container

    br
    h3 Lista de feriados
    table.footable.tableFeriado
        thead
          tr
            th Nombre
            th Fecha
            th Editar
            th Eliminar

        tbody
          each feriadoCurrent, i in feriado
            tr
              td #{feriadoCurrent.nombreFeriado}
              td #{feriadoCurrent.epoch}
              td
                button.btn.btn-default(data-toggle="modal" data-target="#editFeriado" value=feriadoCurrent._id)
                  i.icon-pencil.icon-large.i-success

              td
                button.feriadoDelete.btn.btn-default(value=feriadoCurrent.nombreFeriado+','+feriadoCurrent._id)
                  i.icon-trash.icon-large.i-danger

        tfoot
          tr
            td(colspan='4')
              .pagination.pagination-centered.hide-if-no-paging

     #editFeriado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Actualizar feriado
            .modal-body
              form.formUpdateFeriado(action='/feriadoUpdate', method='post')#login-form.well.span4
                .form-group
                  label(for='nombre' style="float:left") Nombre del feriado:
                  input#nombreFeriado.form-control( type="text", name="nombreFeriado")

                  label.labelFiltro(for='fecha') Fecha:
                  div.input-group
                    input#date_range_end.form-control.epoch(type='text', name='epoch')
                    span.input-group-addon
                      i.icon-calendar

                button.btn.btn-success(type='submit') Actualizar
                alertify.myAlert("Browser dialogs made easy!")
                button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar


block sigucaJS
