extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaGraficos.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/cal-heatmap.css')

block gcsNavbarItems
  ul.nav.navbar-nav

         
 
block content
  .container
        .col-xs-8
          h2 Marcas
          div#graf
        .col-xs-4
             div.filter
                 label#tHorario(for='horario') 
                   |Soporte Técnico
            
             div.filter
                  label#empleados(for='empleados') 
                   |Empleados: 
                  .btn-group
                     button#empleadosSelec.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Todos
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href="#", onclick= 'changeImageAlex()') Alexander Picado 
                      li
                       a(href='#', onclick= 'changeImageCar()') Carlos Solano
                      li
                       a(href='#', onclick='changeImageTa()') Tatiana Moreira
                      li
                       a(href='#', onclick='changeImageGa()') Gabriel Martinez
                      li
                       a(href='#', onclick='changeImageRi()') Rita Cortés

             div.filter
                  label#fInicio(for='fInicio') 
                   |Fecha de Inicio: 
                  .btn-group
                    input(type = 'date', name = 'fechaInicio', placeholder = '20-10-2013')
             div.filter
                  label#fFinal(for='fFinal') 
                   |Fecha Final: 
                  .btn-group
                    input(type = 'date', name = 'fechaFinal', placeholder = '20-10-2013') 
  

                    
block sigucaJS
  script(src="/stylesheets/d3.min.js")
  script(src="/stylesheets/cal-heatmap.min.js")
  script(src='/stylesheets/graficos.js')
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")
  