extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaGraficos.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/marito.jpg', alt='something') 
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='/') Cerrar Sesión
block sigucaNavbarItems
  ul#nav.main
    li 
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a.active(href='/graficos')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li.active
      a(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuracion
    li
      a(href='/Ayuda')
        |Ayuda 
        i.icon-question-sign.icon-large 

block content  
  .wrapper
    .grids
        .grid-12.grid.green
          h2 Marcas
          img.img-responsive#grafico(src='/images/todos.PNG', alt='Responsive image')


        .grid-4.grid.grey
             div.filter
                 label#tGrafico(for='grafico') 
                   |Tipo de Gráfico: 
                 .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Marcas
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Porcentajes
             div.filter
                 label#tHorario(for='horario') 
                   |Área: 
                 .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | S. técnico
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Todos
                      li
                       a(href='#') Innovación 
             div.filter
                  label#empleados(for='empleados') 
                   |Empleados: 
                  .btn-group
                     button#empleadosSelec.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Todos
                      span.caret
                     ul.dropdown-menu
                      li
                       a#alex(href="#", onclick= 'changeImageAlex()') Alexander Picado 
                      li
                       a(href='#', onclick= 'changeImageCar()') Carlos Solano
                      li
                       a(href='#', onclick='changeImageTa()') Tatiana Moreira
                      li
                       a(href='#', onclick='changeImageGa()') Gabriel Martinez
                      li
                       a(href='#', onclick='changeImageRi()') Rita Cortés

             div.filter
                  label#fInicio(for='fInicio') 
                   |Fecha de Inicio: 
                  .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | 21/10/13
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Insert datePicker
             div.filter
                  label#fFinal(for='fFinal') 
                   |Fecha Final: 
                  .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | 21/10/13
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Insert datePicker 
  

                    
block sigucaJS
  script(src="/javascripts/graficos.js")
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaMain.js")
