extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaGraficos.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
  hr
  ul#nav.main
    li
     a(href='/escritorio')
       |Escritorio&nbsp;
       i.icon-home.icon-large  
    li
     a.active(href="/graficos")
       |Gráficos&nbsp;
       i.icon-bar-chart.icon-large
    li
     a(href="/justificaciones")
       |Justificaciones&nbsp;
       i.icon-edit.icon-large
    li
     a(href="/configuracion")
       |Configuración&nbsp;
       i.icon-cogs.icon-large
    li
     a(href="/ayuda")
        |Ayuda&nbsp;
        i.icon-question-sign.icon-large  

block content  
  .wrapper
    .grids
        .grid-12.grid.green
          h2 Gráfico
          img.img-responsive(src='/images/crossFilter.png', alt='Responsive image')
        .grid-4.grid.grey
             div.filter
                 label#tGrafico(for='grafico') 
                   |Tipo de Gráfico: 
                 .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Todos
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Barras
                      li
                       a(href='#') CrossFilter
             div.filter
                 label#tHorario(for='horario') 
                   |Tipo de Horario: 
                 .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Todos
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Diurno
                      li
                       a(href='#') De 1pm a 8pm
             div.filter
                  label#empleados(for='empleados') 
                   |Empleados: 
                  .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Todos
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Rita Cortés Gallardo
                      li
                       a(href='#') Elena Porras Piedra
                      li
                       a(href='#') Zacarías Piedra del Río
             div.filter
                  label#fInicio(for='fInicio') 
                   |Fecha de Inicio: 
                  .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Todos
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Insert datePicker
             div.filter
                  label#fFinal(for='fFinal') 
                   |Fecha Final: 
                  .btn-group
                     button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Todos
                      span.caret
                     ul.dropdown-menu
                      li
                       a(href='#') Insert datePicker 
  
block sigucaNavbarItems
  ul.nav.navbar-nav
    li
      a(href="/ingresado")
        |Escritorio
    li.active
      a(href="/graficos")
        |Gráficos
    li
      a(href="/acciones")
        |Acciones
    li
      a(href="#")
        |Ayuda

                    
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaMain.js")
