extends layout

block sigucaCSS
 

block sigucaNavbarItems
  

block content
 
  div.container#login-container
    h1 Ingreso de horario
    br
    form(action='/horarioN', method='post')#login-form.well.span4
      .form-group
        h4 Informaci칩n B치sica
        label(for='nombre') Nombre del Horario:
          input.form-control#textInput( type="text", name="nombreHorario", placeholder='Nombre del horario')
        .checkbox-inline#jFija
          label
            input(type='checkbox', name="jornada")
            | Jornada fija
        .checkbox-inline#jLibre
          label
            input(type='checkbox', name= "jornada")
            | Jornada libre
                    
      .form-group
        h4 Informaci칩n de jornada
        label(for='hEntrada') Hora de entrada:
          input#hEntrada.form-control( placeholder='Hora de entrada', disabled = 'false')
        label(for='hSalida') Hora de salida:
          input#hSalida.form-control( placeholder='Hora de salida')
      .form-group
        h4 Informaci칩n de receso
        label(for='iAlmuerzo') Inicio de almuerzo:
          input#horario.form-control( placeholder='Inicio de Almuerzo')   
        label(for='fAlmuerzo') Final de almuerzo:
          input#horario.form-control( placeholder='Final de Almuerzo')
        label(for='tReceso') Rango de receso (Exceptuando hora de almuerzo):
          input#horario.form-control( placeholder='numero de horas + h  numero de minutos + m')
      button(type='submit')#btn-login.btn.btn-primary
       | Ingresar
               


block sigucaJS
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-modal.js')
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/horarioN.js")
