extends layout

block sigucaCSS
 link(rel='stylesheet', href='/stylesheets/sigucaInicio.css')

block content
 
  div.container#login-container
    form(class="col-md-12",action='/login', method='post')#login-form.well.span4
      h1.headerFont(class="text-center") SIGUCA
      p.subheading.subwell.headerFont(class="well text-center") Sistema de Gestión de Usuarios y Control de Asistencia
      div.form-group
        label(for="usernameInput")
          |Usuario:
        div.input-group.margin-bottom-sm
          span.input-group-addon
            i.icon-user
          input.form-control#username(type="text", name="username", placeholder="Usuario")
      div.form-group
        label(for="passwordInput")
          |Contraseña:
        div.input-group
          span.input-group-addon
            i.icon-key
          input.form-control#passInput(type="password", name="password", placeholder="Contraseña")

      div.form-group
        button(class="col-xs-4",onClick="return verificarTipos()")#btn-login.btn.btn-success
          |Actualizar Tipos
      
      div.form-group
        select.form-control#selectTem(data-style="btn-inverse", data-width="140px", name="tipo") 
          option Seleccionar tipo

      div.form-group
        button(class="col-xs-offset-4 col-md-offset-4",type="submit",data-target="#mensajeLogin")#btn-login.btn.btn-success
          i.icon-lock.icon-white
          |  Ingresar
          

#mensajeLogin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='login-container', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3.modal-title Bienvenido a SIGUCA 
      .modal-body
        .well
          label 
          |Bienvenido
          
block sigucaJS
  script(src="/js/app/sesion.js")