extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')

block content
  h1= title
  p Welcome to #{title}
  div#flipClock

block sigucaNavbarItems
  ul.nav.navbar-nav
    li.active
      |Help

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")

