extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaInicio.css')
 

block content
 
  div.container#login-container
    form(action='/login', method='post')#login-form.well.span4
      h1 SIGUCA
      p.subheading Sistema de Gestión de Usuarios y Control de Asistencia
      div.form-group
        label(for="usernameInput")
          |Usuario:
        div.input-group.margin-bottom-sm
          span.input-group-addon
            i.icon-user
          input.form-control#textInput(type="text", name="username", placeholder="Usuario")
      div.form-group
        label(for="passwordInput")
          |Contraseña:
        div.input-group
          span.input-group-addon
            i.icon-key
          input.form-control#passInput(type="password", name="password", placeholder="Contraseña")
      button(type="submit")#btn-login.btn.btn-primary
        i.icon-lock.icon-white
        |  Ingresar



block sigucaJS
  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')


