extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaInicio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
  ul#nav.main
    li
     a.active(href='/Ayuda')
      |Ayuda 
      i.icon-question-sign.icon-large  
        
        
block content
  .wrapper
    .grids.top
        .grid-6.grid.intro
          h2 SIGUCA
          p
            | Sistema de Gestión de Usuarios y Control de Asistencia
          a.button(href='/escritorio')
            | Ingresar!

        .grid-10.grid  
          #flipClock 
          

block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")

