extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaIngresado.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block content
    div.row
    div.col-sm-4
     |Ultimas Marcas
    div.col-sm-8
     #flipClock
      
     
block sigucaNavbarItems
  ul.nav.navbar-nav
    li.active
      a(href="#")
        |Escritorio
    li
      a(href="/graficos")
        |Gráficos
    li
      a(href="/acciones")
        |Acciones
    li
      a(href="#")
        |Ayuda

          
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaHome.js")
