extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
  ul.nav.navbar-nav
    li
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href="/graficos")
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li.active 
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuración
    li
      a(href="/ayuda")
        i.icon-question-sign.icon-large  
        |&nbsp;Ayuda

block content
  div.row
    div.col-sm-8
     h1 Justificaciones
     img.img-responsive(src='/images/calendar.png', alt='Responsive image')
    div.col-sm-4
     div.permisosSolicitados
       div.permisosMes
         h3 Permisos de Octubre
         ul.permisos
           li Vacaciones
           li Cita
        div.boton
          a.btn.btn-primary(href='/roles', role='button', data-toggle='modal') +Permiso
  
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaEscritorio.js")
