extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

block sigucaNavbarItems
<<<<<<< HEAD
  hr
  ul#nav.main
    li
     a(href='/escritorio')
       |Escritorio&nbsp;
       i.icon-home.icon-large  
    li
     a(href="/graficos")
       |Gr치ficos&nbsp;
       i.icon-bar-chart.icon-large
    li
     a.active(href="/justificaciones")
       |Justificaciones&nbsp;
       i.icon-edit.icon-large
    li
     a(href="/configuracion")
       |Configuraci칩n&nbsp;
       i.icon-cogs.icon-large
    li
     a(href="/ayuda")
        |Ayuda&nbsp;
=======
  ul.nav.navbar-nav
    li
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href="/graficos")
        i.icon-bar-chart.icon-large
        |&nbsp;Gr치ficos
    li.active 
      a(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuraci칩n
    li
      a(href="/ayuda")
>>>>>>> 5ca2b373157a619f54ef4617efc5a1762e42d0f0
        i.icon-question-sign.icon-large  

block content
  div.row
    div.col-sm-8
     h1 Justificaciones
     img.img-responsive(src='/images/calendar.png', alt='Responsive image')
    div.col-sm-4
     div.permisosSolicitados
       div.permisosMes
         h3 Permisos de Octubre
         ul.permisos
           li Vacaciones
           li Cita
        div.boton
          a.btn.btn-primary(href='/roles', role='button', data-toggle='modal') +Permiso
  
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/sigucaEscritorio.js")
