extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet' href='/stylesheets/jquery-ui.css')

block imgSession
  .divSession#divSession
    img#imgSessionPers(src='images/marito.jpg', alt='something') 
    .btn-group.dropup
                button.btn.btn-default.dropdown-toggle#cSession(type='button', data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li 
                   a(href='#') Cerrar Sesión
block sigucaNavbarItems
  ul#nav.main
    li 
      a(href="/escritorio")
        i.icon-home.icon-large
        |&nbsp;Escritorio
    li
      a(href='/graficos')
        i.icon-bar-chart.icon-large
        |&nbsp;Gráficos
    li
      a.active(href="/justificaciones")
        i.icon-edit.icon-large  
        |&nbsp;Justificaciones
    li
      a(href="/configuracion")
        i.icon-cogs.icon-large
        |&nbsp;Configuracion
    li
      a(href='/Ayuda')
        |&nbsp;Ayuda 
        i.icon-question-sign.icon-large 

block content  
  .wrapper
    .grids
        .grid-16.grid.green
          div#wrappConf
           h2 Justificaciones
           button.btn.btn-success(name='justificación_nueva', href='#justificacionNueva', data-toggle='modal') + Permiso
           button.btn.btn-success(name='solicitud_extras', href='#solicitudExtras', data-toggle='modal')  + Tiempo Extra
           ul.inline     
             #justificacionNueva.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
               .modal-content
                 .modal-header
                   button.close(type='button', data-dismiss='modal', aria-hidden='true') X Cerrar
                   h4.modal-title Permiso Nuevo
                 .modal-body
                   form.form-horizontal()
                    fieldset
                        div.form-group.gcsContainer
                          label.col-lg-4(for='Fecha')
                            |Fecha
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="Fecha" id="datepicker" placeholder="Seleccione una fecha")
                        div.form-group.gcsContainer
                          label.col-lg-4(for='Empleado')
                            |Empleado
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="Emleado" id="Empleado" placeholder="123456789")
                        div.form-group.gcsContainer
                          label.col-lg-4(for='Detalles')
                            |Detalles
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="Detalles" id="Detalles" placeholder="Descripción")
                        .control-group
                          label.control-label(for='ingreso')
                            .controls
                            button#ingreso.btn.btn-success(name='ingreso') Ingresar
                            button#cancelar.btn.btn-danger(name='cancelar') Cancelar
             #solicitudExtras.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
               .modal-content
                 .modal-header
                   button.close(type='button', data-dismiss='modal', aria-hidden='true') X Cerrar
                   h4.modal-title Solicitud Horas Extras
                 .modal-body
                   form.form-horizontal()
                    fieldset
                        div.form-group.gcsContainer
                          label.col-lg-4(for='Fecha')
                            |Fecha
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="Fecha" id="datepicker" placeholder="Seleccione una fecha")
                        div.form-group.gcsContainer
                          label.col-lg-4(for='Empleado')
                            |Empleado
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="Empleado" id="Empleado" placeholder="123456789")
                        div.form-group.gcsContainer
                          label.col-lg-4(for='Horas')
                            |Cantidad Horas
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="Horas" id="Horas" placeholder="3")
                        div.form-group.gcsContainer
                          label.col-lg-4(for='Motivo')
                            |Motivo
                          div.col-lg-6.col-md-6.col-sm-6
                            input.form-control(type="text" name="Motivo" id="Motivo" placeholder="Justificación")
                        .control-group
                          label.control-label(for='ingreso')
                            .controls
                            button#ingreso.btn.btn-success(name='ingreso') Ingresar
                            button#cancelar.btn.btn-danger(name='cancelar') Cancelar    
          table
             tbody(align="center")
               tr
                 td
                   b CÓDIGO
                  td
                   b NOMBRE
                  td
                   b PERMISO - JUSTIFICACIÓN
                  td
                   b FECHA
                                         
             
               tr
                 td 
                   label.checkbox(for='codigoEmp')
                     input#codigoEmp(name='codigo', type='checkbox')
                     | 114520031
                 td 
                   |  Gabriel Martínez Barboza
                 td 
                   |  Vacaciones
                 td 
                   |  20-12-2013 - 05-01-2014
               tr
                 td 
                   label.checkbox(for='codigoEmp')
                     input#codigoEmp(name='codigo', type='checkbox')
                     | 1234
                 td 
                   |  Tatiana Moreira Beita
                 td 
                   |  Tardía 15 minutos
                 td 
                   |  05-10-2013

          button.btn.btn-success(name='aceptar') Aceptar
          button.btn.btn-danger(name='modificar') Rechazar
                 
                             

    
block sigucaJS
  script(src="/javascripts/jquery-1.9.1.js")
  script(src="/javascripts/jquery-ui.js")
  script(src="/javascripts/datepicker.js")




