extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')

block imgSession
  

block gcsNavbarItems
  ul.nav.navbar-nav
block content  
  .container
    .grids
        .grid-16.grid.green
          div#wrappConf
           h2 Justificaciones
          table
             tbody(align="center")
               tr
                 td
                   b CÓDIGO
                  td
                   b NOMBRE
                  td
                   b TIPO
                  td
                   b DETALLES
                  td
                   b FECHA
                  td
                   b Estado                                        
             
               tr
                 td 
                   b 114520031
                 td 
                   |  Gabriel Martínez Barboza
                 td 
                   |  Vacaciones
                 td
                   |  Vacaciones 
                 td 
                   |  20-12-2013 al 05-01-2014
                 td 
                   |  Aceptado
               tr
                 td 
                   b 402110092
                 td 
                   |  Tatiana Moreira Beita
                 td
                   | Tardía
                 td 
                   | Retraso de 15 minutos hora de entrada
                 td 
                   |  05-10-2013
                 td 
                   |  Aceptado
               tr
                 td 
                   label.checkbox(for='codigoEmp')
                     input#codigoEmp3(name='codigo3', type='checkbox')
                     | 113970119
                 td 
                   |  Carlos Solano Morales
                 td 
                   |  Tardía 
                 td 
                   | Retraso de 30 minutos hora de entrada
                 td 
                   |  20-10-2013
                 td 
                   b  Pendiente
               tr
                 td 
                   b 402110092
                 td 
                   |  Tatiana Moreira Beita
                 td 
                   |  Tardía
                 td 
                   | Retraso de 15 minutos hora de almuerzo
                 td 
                   |  05-10-2013
                 td 
                   |  Rechazado
               tr
                 td 
                   label.checkbox(for='codigoEmp')
                     input#codigoEmp5(name='codigo5', type='checkbox')
                     | 114520031
                 td 
                   |  Gabriel Martínez Barboza
                 td 
                   |  Ausencia
                 td
                   b Sin Justificar
                 td 
                   b Sin Justificar
                 td 
                   b Sin Justificar
               tr
                 td 
                   label.checkbox(for='codigoEmp')
                     input#codigoEmp6(name='codigo6', type='checkbox')
                     | 206240769
                 td 
                   |  Alexander Picado Jiménez
                 td 
                   |  Incapacidad
                 td
                   |  Incapacidad de la CCSS
                 td 
                   |  05-10-2013
                 td 
                   b  Pendiente
               tr
                 td 
                   b 113970119
                 td 
                   |  Carlos Solano Morales
                 td 
                   |  Vacaciones
                 td
                   |  Vacaciones
                 td 
                   |  10-12-2013 al 15-12-2014
                 td 
                   |  Rechazado
               tr
                 td 
                   b 206240769
                 td 
                   |  Alexander Picado Jiménez
                 td 
                   |  Tardía 
                 td 
                   |  Tardía 15 minutos
                 td 
                   |  05-10-2013
                 td 
                   |  Aceptado				   

          .control-group
          label.control-laber(for='accion')
            .controls
              button#accion.btn.btn-success(name='aceptar') Aceptar
              button#accion.btn.btn-danger(name='rechazar', href='#justificacionRechazo', data-toggle='modal') Rechazar	    
              #justificacionRechazo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
               .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') X Cerrar
                    h4.modal-title Justificación de Rechazo
                  .modal-body
                    form.form-horizontal()
                     fieldset                       
                         div.form-group.gcsContainer
                           label.col-lg-4(for='Detalles')
                             |Detalles
                           div.col-lg-6.col-md-6.col-sm-6
                             textarea.form-control(name="Detalles", placeholder="Añada comentario")
                         .control-group
                           label.control-label(for='ingreso')
                             .controls
                             button#ingreso.btn.btn-success(name='ingreso') Ingresar
                             button#cancelar.btn.btn-danger(name='cancelar') Cancelar			  

    
block sigucaJS
  




