extends layoutEmpl

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaJustificaciones.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet' href='/stylesheets/jquery-ui.css')

block imgSession

block sigucaNavbarItems

block content  
  .container
    h1 Justificaciones
    br
    .table-responsive
    table.table
        thead
          tr
            th Selección
            th Código
            th Nombre
            th Tipo
            th Detalles
            th Fecha
            th Estado
        tbody
          tr
            td 
              label.checkbox(for='codigoEmp')
                     input#codigoEmp3(name='codigo3', type='checkbox')
            td 1111
            td Ma Diya
            td Tardia 
            td 25 minutos Marca Entrada
            td 20-12-2013 
            td Rechazado
          tr
            td 
              label.checkbox(for='codigoEmp')
                     input#codigoEmp3(name='codigo3', type='checkbox')
            td 1111
            td Ma Diya
            td Tardía
            td Retraso de 15 minutos hora de entrada
            td  05-10-2013
            td Aceptado
          tr
           td 
              label.checkbox(for='codigoEmp')
                     input#codigoEmp3(name='codigo3', type='checkbox')
           td 1111
           td Ma Diya
           td omisión de Marca
           td hora de entrada
           td 20-10-2013
           td Pendiente

   
      .control-group
         
            a.btn.btn-primary(href='/justificacion_nueva', role='button', data-toggle='modal') Justificar 
            a.btn.btn-primary(href='/solicitud_extra', role='button', data-toggle='modal') Solicitar Extras  

    
block sigucaJS
  script(src="/javascripts/jquery-1.9.1.js")
  script(src="/javascripts/jquery-ui.js")
  script(src="/javascripts/datepicker.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")





