//-
//-SIGUCA Main Jade Layout
//-SIGUCA principal Jade
//-
//-Use block content to include the body of derivated pages
//-Use block content para incluír el cuerpo de páginas derivadas
//-
//-Use block sigucaCSS to include extra css from derivated pages
//-Use block sigucaCSS para incluír hojas de estilo extra de páginas derivadas
//-
//-Use block sigucaJS to add extra javascript from derivated pages
//-Use block sigucaJS para incluír javascripts extra de páginas derivadas
doctype

html
  head
    meta(charset='utf-8')
    //To ensure proper rendering and touch zooming (boostrap)
    //Para garantizar una adecuada renderización  en caso de dispositivos móviles
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //Style sheets used
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
    link(rel='stylesheet', href='/stylesheets/footable/footable.core.min.css')
    link(rel='stylesheet', href='/stylesheets/footable/footable.metro.min.css')
    link(rel='stylesheet', href='/stylesheets/alertify/alertify.css')
    link(rel='stylesheet', href='/stylesheets/alertify/themes/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.datetimepicker.css')
    link(rel='stylesheet', href= '/stylesheets/css_DataTables/jquery.dataTables.min.css')
    link(rel='stylesheet', href= '/stylesheets/css_DataTables/buttons.dataTables.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-timepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/sigucaFont.css')
 
 
    title SIGUCA

    block sigucaCSS
    
    
  .container-fluid
    // Brand and toggle get grouped for better mobile display

   //- Extend block sigucaNavbarItems in external views to add Navigation Elements to Navbar 
   //- Agregue a este bloque elementos de la barra de navegación en páginas internas

 
  body
    nav.navbar.navbar-nav.navbar-default.navbar-fixed-top(role='navigation')
      .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only Desplegar navegación
              span.icon-bar
              span.icon-bar
              span.icon-bar
          span#barLogo
            img(src='/images/GreenCore.png' height="50" width="200",  href="/Ayuda")#sigucaLogo
      .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            if (usuario)
                ul.nav.nav-pills
                  li
                    if(usuario.tipo == 'Supervisor')
                      a.activeControl(href="/escritorio")
                        i.icon-home.icon-large
                        |&nbsp;Escritorio
                    else
                      if(usuario.tipo == 'Empleado' || usuario.tipo == config.empleadoProfesor)
                        a.activeControl(href="/escritorioEmpl")
                          i.icon-home.icon-large
                          |&nbsp;Escritorio
                      else
                        a.activeControl(href="/escritorioAdmin")
                          i.icon-home.icon-large
                          |&nbsp;Escritorio
                  if(usuario.tipo == 'Supervisor')
                    li
                      a.activeControl(href="/gestionarEventos/todosEventos")
                        i.icon-cogs.icon-large
                        |&nbsp;Acciones
                    //-li
                     a(href="/reportes")
                        i.icon-edit.icon-large
                        |&nbsp;Reportes

                    li
                      div.dropdown
                        button.btn.dropdown-toggle.text-primary.father-1(type='button',data-toggle="dropdown") 
                          i.icon-edit.icon-large
                            |&nbsp;Reportes 
                          span.caret
                        ul.dropdown-menu
                          li
                            a.activeControl.son-1(href="/reportes/marcas") Marcas/Tardías
                          li
                            a.activeControl.son-1(href="/reportes/horas") Horas
                          li
                            a.activeControl.son-1(href="/reportes/justificaciones") Justificaciones
                          li
                            a.activeControl.son-1(href="/reportes/extras") Solicitudes
                          li
                            a.activeControl.son-1(href="/reportes/vacaciones") Vacaciones
                          li 
                            a.activeControl.son-1(href="/reportes/Feriados") Feriados
                  if(usuario.tipo == 'Supervisor' || usuario.tipo == 'Empleado' || usuario.tipo == config.empleadoProfesor)
                    li
                      a.activeControl(href="/eventos")
                        i.icon-book.icon-large  
                        |&nbsp;Mis Eventos 
                  li
                    a.activeControl(href="/configuracion")
                      i.icon-cog.icon-large
                      |&nbsp;Configuración
                  li
                    a.activeControl(href='/Ayuda')
                      i.icon-question-sign.icon-large     
                      |&nbsp;Acerca de SIGUCA  
                  li
                    a.activeControl(href='/logout')
                      i.icon-off.icon-large     
                      |&nbsp;Cerrar Sessión 
                      
    footer
      div.footerStyle
        p.text-center GreenCore Solutions SRL, San José, Costa Rica.          
          img(src='/images/logo-greencore.png',  href="/Ayuda")#sigucaLogo
          img(src='/images/logo-siguca.png',  href="/Ayuda")#sigucaLogo
    block content

    script(src="https://code.jquery.com/jquery-1.12.3.js")
    script(src="/js/components/jquery-2.0.3.min.js")
    script(src="/js/components/bootstrap.min.js")
    script(src='/js/components/respond-min.js')  
    script(src="/js/components/bootstrap-datepicker.min.js")
    script(src="/js/components/bootstrap-timepicker.min.js")
    script(src="/js/components/bootstrap-select.min.js")
    script(src="/js/components/footable.js")
    script(src="/js/components/footable.paginate.min.js") 
    script(src="/js/components/footable.sort.min.js") 
    script(src="/js/components/footable.filter.min.js") 
    script(src="/js/components/alertify.min.js")
    script(src="/js/components/jquery.datetimepicker.js")
    script(src="/js/components/moment.min.js")
    script(src="/js/app/routes.js")
    script(src="/js/app/reportes.js")
    script(src='/js/JS_Datatables/jquery.dataTables.min.js')
    script(src='/js/JS_Datatables/dataTables.buttons.min.js')
    script(src='/js/JS_Datatables/pdfmake.min.js')
    script(src='/js/JS_Datatables/vfs_fonts.js')
    script(src='/js/JS_Datatables/buttons.html5.min.js')
    script(src='/js/JS_Datatables/buttons.print.min.js')
    script(src='/js/JS_Datatables/jszip.min.js')
    script(scr='http://code.jquery.com/jquery-1.11.1.js')
    script(src="/js/components/jquery.validate.min.js")
    
    //-Controla cual o cuales opciones del menú deberían estar activas
    script(src="/js/app/mainActive.js")
    block sigucaJS
