doctype 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(type="image/x-icon" href='/img/favicon.ico')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='stylesheets/inuit.css')
    link(rel='stylesheet', href='stylesheets/fluid-grid16-1100px.css')
    link(rel='stylesheet', href='stylesheets/eve-styles.css')
    link(rel='shortcut icon', href='icon.png')
    link(rel='apple-touch-icon-precomposed', href='img/icon.png')
    link(rel='stylesheet', href='stylesheets/flexslider.css')


  block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaMain.css')


  body
      .wrapper
        
        img#logoGCS(src='images/logo-greencore.png', alt='something', align='rigth')
        block sigucaNavbarItems
        img(alt='something', src='images/logo-siguca.png', align='rigth')
        hr
       

          //
            These are just samples, use your own icons. If you use larger ones, make sure too change the css-file to fit them in.
                                   Dont´t forget to place your links 
        
        //end of wrapper div     
          

    block content
     

  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src='javascripts/respond-min.js', type='text/javascript')   
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', type='text/javascript')
  script
      window.jQuery || document.write('<script src="scripts/jquery164min.js">\\x3C/script>')
    // local fallback for JQuery
  script(src='javascripts/jquery.flexslider-min.js', type='text/javascript')
  
    script(type='text/javascript')
      $(window).load(function() {
      $('.flexslider').flexslider({
      animation: "slide",
      directionNav: false,
      keyboardNav: true,
      mousewheel: true
      });
      });

    //- Con este bloque pueden agregar scripts individuales para cada vista
   block sigucaJS
