doctype 
html 
  head
    meta(charset='utf-8')
    //To ensure proper rendering and touch zooming (boostrap)
    //Para garantizar una adecuada renderización  en caso de dispositivos móviles
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //Style sheets used
    link(rel='stylesheet', href='/stylesheets/sigucaMain.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(type="image/x-icon" href='/img/favicon.ico')
    title SIGUCA

    block sigucaCSS
    
    
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    img(alt='something', src='images/logo-siguca.png',  href="#")#sigucaLogo		
    // Collect the nav links, forms, and other content for toggling
    if (usuario)
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a.active(href="/escritorio")
              i.icon-home.icon-large
              |&nbsp;Escritorio
          li
            a(href='/graficos')
              i.icon-bar-chart.icon-large
              |&nbsp;Gráficos
          li
            a(href="/justificaciones")
              i.icon-edit.icon-large  
              |&nbsp;Justificaciones
          li
            a(href="/configuracion")
              i.icon-cogs.icon-large
              |&nbsp;Configuracion
          li
            a(href='/Ayuda')
              i.icon-question-sign.icon-large			
              |&nbsp;Ayuda   
          li
            a(href='/registro')
              i.icon-question-sign.icon-large			
              |&nbsp;Registro 	
          li
            a(href='/logout')
              i.icon-question-sign.icon-large			
              |&nbsp;Salida de: #{usuario.username} 			
         img(src='images/logo-greencore.png', alt='something',  href="#")#grcSLogo			
      // /.navbar-collapse
    // /.if
    if (!usuario)
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a.active(href="/registro")
              i.icon-home.icon-large
              |&nbsp;Registro
  // /.container-fluid

 
  body
    
    block sigucaNavbarItems 
                
  
    block content
      


    
    block sigucaJS

      script(src="/javascripts/jquery-2.0.3.min.js")
      script(src="/javascripts/bootstrap.min.js")
      script(src="/javascripts/snap.svg-min.js")
      script(src='javascripts/respond-min.js', type='text/javascript')   
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', type='text/javascript')
      script(src="javascripts/svg.js")