//-
//-SIGUCA Main Jade Layout
//-SIGUCA principal Jade
//-
//-Use block content to include the body of derivated pages
//-Use block content para incluír el cuerpo de páginas derivadas
//-
//-Use block sigucaCSS to include extra css from derivated pages
//-Use block sigucaCSS para incluír hojas de estilo extra de páginas derivadas
//-
//-Use block sigucaJS to add extra javascript from derivated pages
//-Use block sigucaJS para incluír javascripts extra de páginas derivadas
doctype 
html 
  head
    meta(charset='utf-8')
    //To ensure proper rendering and touch zooming (boostrap)
    //Para garantizar una adecuada renderización  en caso de dispositivos móviles
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //Style sheets used
    link(rel='stylesheet', href='/stylesheets/sigucaMain.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(rel='stylesheet',href="/javascripts/cal-heatmap-master/cal-heatmap.css")
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(type="image/x-icon" href='/img/favicon.ico')

    title SIGUCA

    block sigucaCSS
    
    
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    
    
  // /.container-fluid
   //- Extend this block in external views to add Navigation Elements to Navbar 
   //- Agregue a este bloque elementos de la barra de navegación en páginas internas

 
  body
    div.navbar.navbar-nav.navbar-fixed-top(role="navigation")
      div.navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        
      div.collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
        block sigucaNavbarItems   
      br     
    block content
      


    
    block sigucaJS

      script(src="/javascripts/d3-master/d3.min.js")
      
      script(src="/javascripts/cal-heatmap-master/cal-heatmap.min.js")
      script(src="/javascripts/jquery-2.0.3.min.js")
      script(src="/javascripts/bootstrap.min.js")
      script(src="/javascripts/snap.svg-min.js")
      script(src='javascripts/respond-min.js', type='text/javascript')   
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js', type='text/javascript')
    
      