//-
//-SIGUCA Main Jade Layout
//-SIGUCA principal Jade
//-
//-Use block content to include the body of derivated pages
//-Use block content para incluír el cuerpo de páginas derivadas
//-
//-Use block sigucaCSS to include extra css from derivated pages
//-Use block sigucaCSS para incluír hojas de estilo extra de páginas derivadas
//-
//-Use block sigucaJS to add extra javascript from derivated pages
//-Use block sigucaJS para incluír javascripts extra de páginas derivadas
doctype 
html 
  head
    meta(charset='utf-8')
    //To ensure proper rendering and touch zooming (boostrap)
    //Para garantizar una adecuada renderización  en caso de dispositivos móviles
    meta(content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no")

    //Style sheets used
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/sigucaAyuda.css')
    link(rel='stylesheet', href='/stylesheets/footable/footable.core.min.css')
    link(rel='stylesheet', href='/stylesheets/footable/footable.metro.min.css')
    link(rel='stylesheet', href='/stylesheets/alertify.core.css')
    link(rel='stylesheet', href='/stylesheets/alertify.default.css')

    title SIGUCA

    block sigucaCSS
    
    
  .container-fluid
    // Brand and toggle get grouped for better mobile display

   //- Extend block sigucaNavbarItems in external views to add Navigation Elements to Navbar 
   //- Agregue a este bloque elementos de la barra de navegación en páginas internas

 
  body
    div.navbar.navbar-nav.navbar-fixed-top(role="navigation")
      div.navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        span.navbar-brand(href="#")          
          span#barLogo
            img(src='/images/logo-siguca.png',  href="/Ayuda")#sigucaLogo
            img(src='/images/logo-greencore.png',  href="/Ayuda")#sigucaLogo
         
        
      div.collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
        block sigucaNavbarItems 
          if (usuario)
            ul.nav.navbar-nav
              li
                if(usuario.tipo == 'Supervisor')
                  a(href="/escritorio")
                    i.icon-home.icon-large
                    |&nbsp;Escritorio
                else
                  if(usuario.tipo == 'Empleado')
                    a(href="/escritorioEmpl")
                      i.icon-home.icon-large
                      |&nbsp;Escritorio
                  else
                    a(href="/escritorioAdmin")
                      i.icon-home.icon-large
                      |&nbsp;Escritorio
              if(usuario.tipo == 'Supervisor')
                li
                  a(href="/gestionarEventos")
                    i.icon-cogs.icon-large
                    |&nbsp;Acciones
                li
                  a(href="/reportes")
                    i.icon-edit.icon-large
                    |&nbsp;Reportes
              if(usuario.tipo == 'Supervisor' || usuario.tipo == 'Empleado')
                li
                  a(href="/eventos")
                    i.icon-book.icon-large  
                    |&nbsp;Mis Eventos 
              li
                a(href="/configuracion")
                  i.icon-cog.icon-large
                  |&nbsp;Configuración
              li
                a(href='/Ayuda')
                  i.icon-question-sign.icon-large     
                  |&nbsp;Acerca de SIGUCA  
              li
                a(href='/logout')
                  img(src='/images/cerrar.jpg', alt='something')      
                  |&nbsp;#{usuario.tipo}: #{usuario.username}  
      br     
    block content

    script(src="/js/jquery-2.0.3.min.js")
    script(src="/js/bootstrap.min.js")
    script(src='js/respond-min.js')  
    script(src="/js/bootstrap-datepicker.min.js")
    script(src="/js/bootstrap-timepicker.min.js")
    script(src="/js/bootstrap-select.min.js")
    script(src="/js/footable.js")
    script(src="/js/footable.paginate.min.js") 
    script(src="/js/footable.sort.min.js") 
    script(src="/js/datepickerReportes.js")
    script(src="/js/alertify.min.js")
    if (usuario)
      if(usuario.tipo == 'Administrador')
        script(src="/socket.io/socket.io.js")
        script(src='/js/sigucaHomeAdmin.js')
    block sigucaJS
