extend layout

//-Cualquier cosa dentro del bloque sigucaCSS va a ser insertado en el head del layout
block sigucaCSS
	link(rel='stylesheet', href='/stylesheets/sigucaRoles.css')
	//Este es un comentario que va a salir en el HTML
	//-Y este es un comentario que solo jade ve.

block content
<<<<<<< HEAD
	h1 SIGUCA
=======
	h1 SIGUCA INGRESO DE ROLES - BASE DE DATOS
>>>>>>> 087902f2688f71cae775522927ef91d7b09450e6

	form.form-horizontal(action="roles" method="post")
		div.control-group
			label.control-label(for="rol")
				|Rol
			div.controls
				input(type="text" name="rol" placeholder="Nuevo Rol")
		div.control-group
			label.control-label(for="nombre")
				|Nombre
			div.controls
				input(type="text" name="nombre" placeholder="Nombre")
		button.btn.btn-primary(type="submit" value="roles")
			|Ingresar a Mongo

