extend layoutEmpl

//-Cualquier cosa dentro del bloque sigucaCSS va a ser insertado en el head del layout
block sigucaCSS
	link(rel='stylesheet', href='/stylesheets/sigucaRoles.css')
	//Este es un comentario que va a salir en el HTML
	//-Y este es un comentario que solo jade ve.

block content
	h1 Solicitud de Tiempo Extraordinario
	form.form-horizontal(action="solicitud_extra" method="post")
		div.control-group
			label.control-label(for="Código")
				|Empleado
			div.controls
				input(type="text" name="Empleado" placeholder="123456789")
		div.control-group
			label.control-label(for="Fecha")
				|Fecha
			div.controls
				input(type="text" name="Fecha" placeholder="20-10-2013")
		div.control-group
			label.control-label(for="Tiempo")
				|Tiempo
			div.controls
				input(type="text" name="Tiempo" placeholder="3 Horas")
		button.btn.btn-primary(type="submit" value="roles")
			|Enviar Solicitud

