
input:not([type=submit]) {
	border: 1px solid white; 
	-webkit-box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
					0 0 16px rgba(0,0,0,0.1); 
	-moz-box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
					0 0 16px rgba(0,0,0,0.1); 
	box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
					0 0 16px rgba(0,0,0,0.1); 
	padding: 3px;
	background: rgba(255,255,255,0.5);
	margin: 0 0 10px 0;
	color: #ddd;
}

#login-container {
	width: 404px;
	margin-top: 117px;
}

#login-container label {
	margin: 15px 0 5px 5px;
}
#login-container button {
	width: 137px;
}
#login-container .checkbox {
	margin: 23px 0 0 180px;
}
#login-container .form-control {
	color: #14100C;
	
}

.navbar {visibility:hidden;}

.well {
	margin-bottom: 0;
}

/** Media Queries **/
@media all and (max-width: 460px) {
	#login-container {
		width: 90%
	}
}

#addMarca {
	z-index: 1000 !important;
}

#mensajeMarca {
	z-index: 1001 !important;
}