.success{color:#2ECC40;}
.error{color:#FF4136;}
.warning{color:#FF851B;}
#ingreso{
	margin-left: 129px;
}
#modificar{
	margin-left: 4px;
}
#contBotones{
	margin-top: 30px;
	margin-left: 80px;
}
#labelIMEC{
	margin-top: 22px;
	margin-left: 80px;
}